
:root{
    --primary:#0b254b;
    /* --ligh:#ffffff; */
    --light:white;
    --light-blue:#F5F6FA;
    --grey:#eff2f7;
    }
    
    body{
      font-family: 'Muli',sans-serif;
    }
    a{
        color: black;
        font-weight: bold;
    }

    
    
    h1,h2,h3,h4,h5{
      color: var(--primary);
      font-weight: 700;
    }
    .bg-light{
      background-color: var(--light) !important;
    }
    #sidebar-container{
      min-height: 100vh;
      margin-left: -18rem;
      transition: margin .25s ease-in-out;
      
    }
    #sidebar-container .logo{
      padding: .875rem 1.25rem;
      font-size: 1.2rem;
    }
    #sidebar-container .menu{
      width: 18rem;
    }
    .btn-primary{
    background-color: rgba(0,123,255,.1) !important;
    border:0;
    }
    .bg-light-blue{
      background-color: var(--light-blue);
    }
    .bg-primary{
      background-color: rgba(0,123,255,.1) !important;
    }
    .circle{
      width: 50px;
      height: 50px;
    }
    
    #content-wrapper.toggled #sidebar-container{
      margin-left: 0;
    }
    
    .shadow-sm{
      box-shadow: 0 0 1.25rem rgba(11,37,75,.05);
    }
    .shadow-hover{
      transition: 1s ease-in-out;
    }
    .shadow-hover:hover{
      transition: 1s ease-in-out;
      box-shadow: 0 .5rem 1rem rgba(11,37,75,.10);
    }
    .avatar{
      max-width: 35px;
    }
     table tbody tr{
      background-color: var(--light);
     }

     .list-group-item:hover{

      color: rgb(0, 158, 127);
      text-decoration: none;
     }
    
    @media (min-width: 768px){
      #sidebar-container{
        margin-left: 0;
      }
      #page-container{
        min-width: 0;
        width: 100%;
      }
      #content-wrapper.toggled #sidebar-container{
       margin-left: -18rem;
    }
    
    }
    
        